# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# Optional folders to ignore
AppIcons/
images/

